In [21]:
# !pip install pypyodbc

In [1]:
from decouple import config
import pypyodbc
import pandas as pd
from IPython.core.magic import register_line_cell_magic

In [2]:
conn = pypyodbc.connect(
    f'''
    Driver={{ODBC Driver 17 for SQL Server}};
    Server=vip.hivesql.io;
    Database=DBHive;
    uid={config('HIVE_SQL_USERNAME')};
    pwd={config('HIVE_SQL_PASSWORD')};
    '''
)

In [3]:
def query_df(line_query, cell_query=None, conn=conn):
    if cell_query == None:
        return pd.read_sql(line_query, conn)
    return pd.read_sql(cell_query, conn)

In [4]:
# Custom notebook magic commands for loading sql.

def create_df_sql_magic(magic_name, conn):
    def sql_df(line_query, cell_query=None, conn=conn):
        if cell_query == None:
            return pd.read_sql(line_query, conn)
        return pd.read_sql(cell_query, conn)
    
    custom_func = sql_df
    custom_func.__name__ = magic_name
    register_line_cell_magic(custom_func)
    
create_df_sql_magic('sql_df', conn)

In [5]:
%%sql_df
Select * from sys.databases

,name,database_id,source_database_id,owner_sid,create_date,compatibility_level,collation_name,user_access,user_access_desc,is_read_only,...,two_digit_year_cutoff,containment,containment_desc,target_recovery_time_in_seconds,delayed_durability,delayed_durability_desc,is_memory_optimized_elevate_to_snapshot_on,is_federation_member,is_remote_data_archive_enabled,is_mixed_page_allocation_on
0,master,1,None,[1],2003-04-08 09:13:36.390,130,Latin1_General_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,True
1,tempdb,2,None,[1],2020-05-13 11:51:31.953,130,Latin1_General_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
2,DBHive,7,None,[1],2020-03-20 01:13:42.557,130,Latin1_General_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False

In [6]:
%%sql_df
SELECT * FROM information_schema.tables;

   table_catalog table_schema              table_name table_type
0         DBHive          dbo                 Reblogs       VIEW
1         DBHive          dbo        TxEscrowApproves       VIEW
2         DBHive          dbo   TxUpdateProposalVotes       VIEW
3         DBHive          dbo        TxEscrowDisputes       VIEW
4         DBHive          dbo        TxEscrowReleases       VIEW
..           ...          ...                     ...        ...
61        DBHive          dbo         TxAccountClaims       VIEW
62        DBHive          dbo              TxConverts       VIEW
63        DBHive          dbo       TxCreateProposals       VIEW
64        DBHive          dbo  TxWitnessSetProperties       VIEW
65        DBHive          dbo               TxCustoms       VIEW

[66 rows x 4 columns]

In [7]:
%%sql_df
select count(*) from Comments;

0  85688054

In [8]:
%%sql_df
select * from information_schema.columns where table_name = 'Comments'

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,datetime_precision,character_set_catalog,character_set_schema,character_set_name,collation_catalog,collation_schema,collation_name,domain_catalog,domain_schema,domain_name
0,DBHive,dbo,Comments,ID,1,None,NO,int,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
1,DBHive,dbo,Comments,author,2,None,NO,varchar,50.0,50.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
2,DBHive,dbo,Comments,permlink,3,None,NO,varchar,512.0,512.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
3,DBHive,dbo,Comments,category,4,None,NO,varchar,256.0,256.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
4,DBHive,dbo,Comments,parent_author,5,None,YES,varchar,50.0,50.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
5,DBHive,dbo,Comments,parent_permlink,6,None,YES,varchar,512.0,512.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
6,DBHive,dbo,Comments,title,7,None,YES,nvarchar,-1.0,-1.0,...,NaN,None,None,UNICODE,None,None,Latin1_General_CI_AS,None,None,None
7,DBHive,dbo,Comments,body,8,None,YES,nvarchar,-1.0,-1.0,...,NaN,None,None,UNICODE,None,None,Latin1_General_CI_AS,None,None,None
8,DBHive,dbo,Comments,json_metadata,9,None,NO,nvarchar,-1.0,-1.0,...,NaN,None,None,UNICODE,None,None,Latin1_General_CI_AS,None,None,None
9,DBHive,dbo,Comments,last_update,10,None,NO,datetime,NaN,NaN,...,3.0,None,None,None,None,None,None,None,None,None
10,DBHive,dbo,Comments,created,11,None,NO,datetime,NaN,NaN,...,3.0,None,None,None,None,None,None,None,None,None
11,DBHive,dbo,Comments,active,12,None,NO,datetime,NaN,NaN,...,3.0,None,None,None,None,None,None,None,None,None
12,DBHive,dbo,Comments,last_payout,13,None,NO,datetime,NaN,NaN,...,3.0,None,None,None,None,None,None,None,None,None
13,DBHive,dbo,Comments,depth,14,None,NO,int,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
14,DBHive,dbo,Comments,children,15,None,NO,int,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
15,DBHive,dbo,Comments,net_rshares,16,None,NO,bigint,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
16,DBHive,dbo,Comments,abs_rshares,17,None,NO,bigint,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
17,DBHive,dbo,Comments,vote_rshares,18,None,NO,bigint,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
18,DBHive,dbo,Comments,children_abs_rshares,19,None,NO,bigint,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
19,DBHive,dbo,Comments,cashout_time,20,None,NO,datetime,NaN,NaN,...,3.0,None,None,None,None,None,None,None,None,None
20,DBHive,dbo,Comments,max_cashout_time,21,None,NO,datetime,NaN,NaN,...,3.0,None,None,None,None,None,None,None,None,None
21,DBHive,dbo,Comments,total_vote_weight,22,None,NO,float,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
22,DBHive,dbo,Comments,reward_weight,23,None,NO,int,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
23,DBHive,dbo,Comments,total_payout_value,24,None,NO,money,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
24,DBHive,dbo,Comments,curator_payout_value,25,None,NO,money,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
25,DBHive,dbo,Comments,author_rewards,26,None,NO,money,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
26,DBHive,dbo,Comments,net_votes,27,None,NO,int,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
27,DBHive,dbo,Comments,root_comment,28,None,YES,bigint,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
28,DBHive,dbo,Comments,mode,29,None,YES,varchar,50.0,50.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
29,DBHive,dbo,Comments,max_accepted_payout,30,None,NO,money,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
30,DBHive,dbo,Comments,percent_steem_dollars,31,None,NO,int,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
31,DBHive,dbo,Comments,allow_replies,32,None,NO,bit,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
32,DBHive,dbo,Comments,allow_votes,33,None,NO,bit,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
33,DBHive,dbo,Comments,allow_curation_rewards,34,None,NO,bit,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
34,DBHive,dbo,Comments,beneficiaries,35,None,YES,varchar,-1.0,-1.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
35,DBHive,dbo,Comments,url,36,None,NO,varchar,-1.0,-1.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
36,DBHive,dbo,Comments,root_title,37,None,NO,nvarchar,-1.0,-1.0,...,NaN,None,None,UNICODE,None,None,Latin1_General_CI_AS,None,None,None
37,DBHive,dbo,Comments,pending_payout_value,38,None,NO,money,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
38,DBHive,dbo,Comments,total_pending_payout_value,39,None,NO,money,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
39,DBHive,dbo,Comments,active_votes,40,None,NO,varchar,-1.0,-1.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
40,DBHive,dbo,Comments,replies,41,None,NO,varchar,-1.0,-1.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
41,DBHive,dbo,Comments,author_reputation,42,None,NO,bigint,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
42,DBHive,dbo,Comments,promoted,43,None,YES,varchar,50.0,50.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
43,DBHive,dbo,Comments,body_length,44,None,NO,bigint,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
44,DBHive,dbo,Comments,reblogged_by,45,None,YES,varchar,-1.0,-1.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
45,DBHive,dbo,Comments,body_language,46,None,YES,varchar,512.0,512.0,...,NaN,None,None,iso_1,None,None,Latin1_General_CI_AS,None,None,None
46,DBHive,dbo,Comments,TS,47,None,NO,timestamp,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None

In [17]:
q = "select column_name from information_schema.columns where table_name = 'Comments';"
col_names_df = query_df(q)
list(col_names_df.column_name.values)

['ID',
 'author',
 'permlink',
 'category',
 'parent_author',
 'parent_permlink',
 'title',
 'body',
 'json_metadata',
 'last_update',
 'created',
 'active',
 'last_payout',
 'depth',
 'children',
 'net_rshares',
 'abs_rshares',
 'vote_rshares',
 'children_abs_rshares',
 'cashout_time',
 'max_cashout_time',
 'total_vote_weight',
 'reward_weight',
 'total_payout_value',
 'curator_payout_value',
 'author_rewards',
 'net_votes',
 'root_comment',
 'mode',
 'max_accepted_payout',
 'percent_steem_dollars',
 'allow_replies',
 'allow_votes',
 'allow_curation_rewards',
 'beneficiaries',
 'url',
 'root_title',
 'pending_payout_value',
 'total_pending_payout_value',
 'active_votes',
 'replies',
 'author_reputation',
 'promoted',
 'body_length',
 'reblogged_by',
 'body_language',
 'TS']

In [9]:
%%sql_df
select count(*)
from Comments 
where author = 'memehub'

0  566

In [10]:
%%sql_df
select * from Comments
where author = 'memehub'
and net_votes > 300

,id,author,permlink,category,parent_author,parent_permlink,title,body,json_metadata,last_update,...,pending_payout_value,total_pending_payout_value,active_votes,replies,author_reputation,promoted,body_length,reblogged_by,body_language,ts
0,73102755,memehub,santa-has-too-much-free-time,memehub,,memehub,Santa has too much free time,![5ca01677bb748.jpeg](https://cdn.steemitimage...,"{""tags"":[""memehub"",""memes"",""funny"",""dank""],""im...",2019-04-13 16:00:45,...,0.0,0.0,"[{""percent"":10000,""reputation"":""9177353531310""...",[],24731697313724,0.000 STEEM,119,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 52, 62, 32, 1]"
1,73058714,memehub,ndrpimld,dtube,,dtube,DANK MEMES COMPILATION V3,<center><a href='https://d.tube/#!/v/memehub/n...,"{""video"":{""info"":{""title"":""DANK MEMES COMPILAT...",2019-04-12 20:29:24,...,0.0,0.0,"[{""percent"":10000,""reputation"":""8668390161180""...",[],24731697313724,0.000 STEEM,1515,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 52, 62, 32, 46]"
2,73453049,memehub,w8tez7gq,dtube,,dtube,DANK MEMES COMPILATION V5,<center><a href='https://d.tube/#!/v/memehub/w...,"{""video"":{""info"":{""title"":""DANK MEMES COMPILAT...",2019-04-19 21:21:09,...,0.0,0.0,"[{""percent"":10000,""reputation"":""2069962644512""...",[],36412096160719,0.000 STEEM,1057,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 55, 16, 240, 78]"
3,74103798,memehub,memeday-s03m026e01-entry-viewer-discretion-adv...,memeday,,memeday,Memeday s03m026e01 - Entry - VIEWER DISCRETION...,@richatvns - Below you will find my rebuttal t...,"{""tags"":[""memeday"",""memes"",""savage""],""users"":[...",2019-05-02 02:59:45,...,0.0,0.0,"[{""percent"":10000,""reputation"":""1049281228830""...",[],39083012800194,0.000 STEEM,1466,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 55, 101, 139, 170]"
4,76853470,memehub,building-steem-s-meme-community-with-memehub,steem,,steem,Building Steem's Meme Community With Memehub,"<center><b><h4>Edit: To clear confusion, you c...","{""links"":[""http://memehub.lol"",""http://memehub...",2019-06-21 19:59:48,...,0.0,0.0,"[{""percent"":10000,""reputation"":""117292466128"",...",[],39105701727156,0.000 STEEM,12234,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 55, 131, 38, 136]"
5,77251933,memehub,project-update-get-a-67-000sp-upvote-from-memehub,steem,,steem,"Project Update: Get a 67,000SP Upvote from Mem...","<img src=""https://img.esteem.ws/cuczwavfmq.jpg...","{""links"":[""https://steemit.com/steem/@memehub/...",2019-06-30 02:44:06,...,0.0,0.0,"[{""percent"":10000,""reputation"":""117292466128"",...",[],44395276301312,0.000 STEEM,3307,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 55, 210, 178, 249]"
6,77586734,memehub,let-s-make-memes-on-steem-great-again,memes,,memes,Let's Make Memes on Steem Great Again,"<center><img src=""https://img.esteem.ws/30czix...","{""links"":[""https://steemit.com/steem/@memehub/...",2019-07-08 13:40:21,...,0.0,0.0,"[{""percent"":10000,""reputation"":""1245965423560""...",[],48148603045381,0.000 STEEM,4231,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 56, 71, 46, 207]"
7,77926223,memehub,the-great-meme-war-rescue-the-memers,meme,,meme,The Great Meme War: Rescue the Memers!,"<center><img src=""https://img.esteem.ws/1niya1...","{""links"":[""https://encyclopediadramatica.rs/Th...",2019-07-12 18:43:27,...,0.0,0.0,"[{""voter"":""xeldal"",""weight"":3832810,""rshares"":...",[],55684030613856,0.000 STEEM,7546,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 57, 83, 215, 46]"
8,72995685,memehub,eolkqrn6,dtube,,dtube,DANK MEMES COMPILATION V2,<center><a href='https://d.tube/#!/v/memehub/e...,"{""video"":{""info"":{""title"":""DANK MEMES COMPILAT...",2019-04-12 19:28:12,...,0.0,0.0,"[{""percent"":10000,""reputation"":""8668390161180""...",[],24732173858282,0.000 STEEM,1088,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 52, 82, 138, 21]"
9,78557501,memehub,qbc839hip8o,dtube,,dtube,Memes Weekly with Memehub V01,<center><a href='https://d.tube/#!/v/memehub/q...,"{""video"":{""videoId"":""QmQUUQYZ5fJpwwQMegnsZiHrG...",2019-07-29 23:52:09,...,0.0,0.0,"[{""percent"":10000,""reputation"":0,""rshares"":""20...",[],56291791456762,0.000 STEEM,389,[],"[{""language"":""en"",""isReliable"":true,""confidenc...","[0, 0, 0, 0, 58, 31, 128, 230]"

In [11]:
%%sql_df
exec sp_spaceused

  database_name  database_size unallocated space
0        DBHive  1675804.50 MB       19397.09 MB

In [12]:
1669647.50 * 0.001

1669.6475

In [15]:
conn.close()